.pwa_con {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  gap: 1.5rem;
  position: fixed;
  padding: 10px 20px;
  bottom: 1px;
  left: 3px;
}

.pwa_con p {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Gill Sans', sans-serif;
}

#installButton {
  background-color: #99CC5A;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
}
